body {
  background-color: blanchedalmond;
  color: #E5D6AB;
  font-family: 'Poppins', sans-serif;
  margin: 0;
  padding: 0;
  padding-bottom: 20px;
}

header {
  background: linear-gradient(90deg, #655A2D, #E5D6AB);
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.gold {
  color: black;
}

#search {
  padding: 8px;
  border: 2px #E5D6AB;
  border-radius: 20px;
  background: #E5D6AB;
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 1rem;
  padding: 2rem;
}

.fish-card {
  width: 300px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 4px 12px rgba(0,0,0,0.1);
  transition: transform 0.3s, box-shadow 0.3s;
}

.fish-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 6px 18px rgba(0,0,0,0.2);
}

/* Make the whole card a clickable link */
.fish-link {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: black;
  gap: 15px;
  background: white;
  padding: 10px;
}

/* Style the image */
.fish-link img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
}

/* Style the text */
.fish-info h3 {
  margin: 0;
  font-size: 1.2rem;
  color: gold;
}

.fish-info p {
  margin: 5px 0 0;
  color: #333;
}



.product {
  background: white;
  border-radius: 12px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  padding: 1rem;
  text-align: center;
  transition: transform 0.3s;
}


.product:hover {
  transform: scale(1.05);
}

button {
  background: #655A2D;
  border: none;
  padding: 8px 16px;
  border-radius: 8px;
  cursor: pointer;
  color: black;
  font-weight: bold;
  align-content: center;
  position: relative; bottom: 90px;
}

button:hover {
  opacity: 0.9;
}
.hidden {
  display: none;
}

.footer {
  text-align: center;
  background: linear-gradient(90deg, #655A2D, #E5D6AB);
}