body {
 background-color: black;
}

.container {
  margin: 100px 0 0 200px;
  width: 60%;
  height: 450px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

.container img {
  width: 10%;
  height: 100%;
  object-fit: cover;
  border-radius: 10px;
  border: ghostwhite;
  transition: all ease-in-out 1s;
 align-self: center;
 position: relative; bottom: 650px;
}

.container img:hover {
  width: 50%;
}
  
.search-container {
 text-align: center;
 background: #400400;
 border-radius: 50px;
 font-size: px;
 width: 300px;
 height: 30px;
 display: flex;
 align-items: center;
 padding: 10px 20px;
 box-shadow: 0 10px 25px ;
 position: relative; left: 320px
}
.search-container:hover input{
 width: 400px;
}
.search-container input {
 width: 0;
 outline: none;
 border: none;
 font-weight: 500;
 transition: 0.8s;
 background: transparent;
 align-items: center;
 color: aliceblue;
}

.nav {
 background: #400000;
  border-radius: 20px;
}
 
.nav input{
 width: 0px;
 outline: none;
 border: none;
}

.head img{
 block-size: 800px;
 position: relative; left: 200px; bottom: 250px;
 
}

.navi {
 word-spacing: 100px;
 background: #400000;
 font-size: 40px;
 position: relative; bottom: 600px;
 border-radius: 20px;
 text-align: center;
}

